<li ...attributes local-class="station-card">
  <div local-class="content">
    <div local-class="header">
      <h1>{{@station.name}}</h1>
      <a local-class="address" target="_blank noopener noreferrer" href="{{coordinate-url @station.coor}}">{{@station.address}}</a>
    </div>
    <p local-class="info">
    <div local-class="line-info">
      {{#if @station.price}}<div><span local-class="price">{{@station.price}}</span><span local-class="price-type"> {{@station.valuta}}/kg</span></div>{{/if}}
      {{#if @station.distance}}<div><span local-class="price">{{@station.distance}}</span><span local-class="price-type"> km</span></div>{{/if}}
    </div>
    {{#if @station.payments}}<p local-class="payments">{{@station.payments}}</p>{{/if}}
    {{#if @station.news}}<p local-class="news">{{@station.news}}</p>{{/if}}
    {{#if @station.statusMessage}}<p local-class="exception-message">{{@station.statusMessage}}</p>{{/if}}
    </p>
  </div>
  <div local-class="icons">
    {{#if this.isOpen}}
      {{#if this.available350l}}<div data-test-350l local-class="icon-container"><img local-class="valve" src="images/truck_3.svg" alt="truck"/></div>{{/if}}
      {{#if this.available350s}}<div data-test-350s local-class="icon-container"><img local-class="valve" src="images/car_3.svg" alt="car with 350 inside" /><span local-class="icon-badge">350</span></div>{{/if}}
      {{#if this.available700}}<div data-test-700 local-class="icon-container"><img local-class="valve" src="images/car_3.svg" alt="car with 700 inside" /><span local-class="icon-badge">700</span></div>{{/if}}
      {{#if @station.has_350_slow}}<div data-test-350 local-class="icon-container"><span local-class="icon-badge slow">350 slow</span></div>{{/if}}
      {{#if @station.has_700_slow}}<div data-test-350 local-class="icon-container"><span local-class="icon-badge slow">700 slow</span></div>{{/if}}
    {{/if}}
    {{#if this.isClosed}}<p data-test-closed local-class="closed">CLOSED</p>{{/if}}
  </div>
</li>
