<li ...attributes class="station-card">
  <div class="list-content">
    <div class="list-header">
      <h1>{{@station.name}}</h1>
      <a class="list-address" target="_blank noopener noreferrer" href="{{coordinate-url @station.coor}}">{{@station.address}}</a>
    </div>
    <p class="list-info">
    <div class="line-info">
      <div><span class="price">{{@station.price}}</span><span class="price-type"> €/kg</span></div>
      {{#if @station.distance}}<div><span class="price">{{@station.distance}}</span><span class="price-type"> km</span></div>{{/if}}
    </div>
    <p class="payments">{{@station.payments}}</p>
    {{#if @station.news}}<p class="list-news">{{@station.news}}</p>{{/if}}
    {{#if @station.statusMessage}}<p class="exception-message">{{@station.statusMessage}}</p>{{/if}}
    </p>
  </div>
  <div class="list-icons">
    {{#if this.isOpen}}
      {{#if this.available350l}}<div class="icon-container"><img class="valve" src="images/truck_3.svg" alt="truck"/></div>{{/if}}
      {{#if this.available350s}}<div class="icon-container"><img class="valve icon-image" src="images/car_3.svg" alt="car with 350 inside" /><span class="icon-badge">350</span></div>{{/if}}
      {{#if this.available700}}<div class="icon-container"><img class="valve icon-image" src="images/car_3.svg" alt="car with 700 inside" /><span class="icon-badge">700</span></div>{{/if}}
    {{/if}}
    {{#if this.isClosed}}<p class="closed">CLOSED</p>{{/if}}
  </div>
</li>
