{{page-title "Europe"}}
<div local-class="country-filter">
  {{#each this.stationsByCountry as |item| }}
    {{#if (and item.selected this.countries.length)}}
      <button type="button" local-class="choice-chip selected" {{on 'click' (fn this.removeCountry item.shortcode)}}>{{item.country}}</button>
    {{else}}
      <button type="button" local-class="choice-chip" {{on 'click' (fn this.selectCountry item.shortcode)}}>{{item.country}}</button>
    {{/if}}
  {{/each}}
</div>
{{#each this.stationsByCountry as |item|}}
  {{#if item.selected}}
    <div local-class="country">
      <h2>{{item.country}} {{countryflag item.shortcode}}</h2>
      <Stationlist @stations={{item.stations}} />
    </div>
  {{/if}}
{{/each}}